<div class="action-buttons">
	<button (click)="onLoadUserClick()" type="button">Load User Form</button>
	<button (click)="onLoadCompanyClick()" type="button">Load Company Form</button>
</div>

<div *ngIf="formConfig$ | async as formConfig" class="dynamic-form-container">
	<form [formGroup]="formConfig.form" (ngSubmit)="onSubmit(formConfig.form, $event)">
		<h3 class="form-heading">{{ formConfig.config.description }}</h3>

		<ng-container *ngFor="let control of formConfig.config.controls | keyvalue : comparator">
			<ng-container [dynamicFormControl]="{ control: control.value, key: control.key }"></ng-container>
		</ng-container>

		<button [disabled]="formConfig.form.invalid">Save</button>
	</form>
</div>
